.btn-blue {
  background-color: #002961;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto' , sans-serif;
  position: center;
  margin-left: 0px auto;
}
a:hover{
 color: black;
 transition: color 0.3s ease;
}
.btn-classique {
  background-color: #002961;
  padding: 10px 13px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-family: 'Roboto' , sans-serif;
  position: center;
  width: 100px;
  
